<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>students_ws</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Students Web Service</h1>
    <ul>
        <li>
            <a href="/student/572a80d0c80eb653c302d3ec">getGradeByID(572a80d0c80eb653c302d3ec)</a>
        </li>
        <li>
            <a href="/topstudents">getTopStudents()</a>   
        </li>
        <li>
            <a href="/topstudents/female">getTopStudentsByGender(female)</a>
        </li>
    </ul>
</body>
</html>